version: '3.5'

networks:
  net:
    driver: bridge
services:
  weaviate:
    image: semitechnologies/weaviate:1.35.6
    volumes:
      - ./weaviate:/var/lib/weaviate
    environment:
      - QUERY_DEFAULTS_LIMIT=25
      - AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED=true
      - PERSISTENCE_DATA_PATH=/var/lib/weaviate
      - DEFAULT_VECTORIZER_MODULE=none
      - ENABLE_MODULES=text2vec-openai,generative-openai
      - CLUSTER_HOSTNAME=node1
    ports:
      - 8080:8080
      - 50051:50051
    networks:
      - net
